.wrapper {
  display: flex;
  position: relative;
}

.img {
  display: flex;
  max-width: 100%;
  opacity: 0;
  transition: 0.2s;
  height: 100%;
  object-fit: cover;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(201, 201, 201) 0px,
    #fff 50%,
    rgb(201, 201, 201) 100%
  );
  background-color: rgb(201, 201, 201);
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: -200%;
  }
}
