.form {
  margin-bottom: 2rem;
}

.perdeu {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.perdeu:after {
  content: '';
  height: 1.5px;
  width: 100%;
  background: currentColor;
  display: block;
}

.cadastro {
  margin: 4rem 0;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subTitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subTitle:after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
