.card {
  margin-top: calc(20% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.card svg {
  opacity: 0.15;
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
}

@media (max-width: 40rem) {
  .card svg {
    width: 125px;
    height: 125px;
  }
}

.card svg > * {
  fill: #888;
}

.card .card__text {
  color: rgb(165, 165, 165);
  text-align: center;
  line-height: 1.5;
}
