.commentsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  word-break: break-word;
  max-height: 18.5rem;
  padding: 0 2rem;
  flex: 1;
}

@media (max-width: 65rem) {
  .comments {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    max-height: 6.5rem;
  }
}

@media (max-width: 40rem) {
  .comments {
    font-size: .875rem;
  }
}

.single.comments {
  padding: 0px;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.wrapperRedirect {
  margin: 0.5rem 0 2rem 0;
}

.redirectLink {
  color: rgb(185, 185, 185);
  text-decoration: underline;
}
